{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div class="container my-4">
<div class="row">
  <!--<h1 class="card-header text-center color-black"><b><em>Create your account:</em></b></h1>-->
 <div class="col-lg-6 justify-content-center p-5">
    <div class="card">
      <div class="card-body text-center">
            <p class="my-5 lead card-title h4"><b><em>Sell products on our platforms.</em></b></p>
       
            <a href="{% url 'become-vendor' %}" class="text-light">
            <button class="btn  text-info  color-black">
                <h1><em>Become a Vendor</em></h1>
            </button> 
        </a>
      </div>
    </div>
  </div>
    
<div class="col-lg-6 p-5">
   <div class="card">
     <div class="card-body text-center">
            
         <p class="my-5 lead card-title h4"><b><em>Buy products on our platforms.</em></b></p>
          <a href="{% url 'register' %}" class="text-info">
            <button class="btn color-black text-info">
                 <h1><em>Become a Buyer</em></h1>
                  </button> 
            </a>
           
          </div>
       </div>
    </div>

  </div>
</div>

{% include "footer.html" %}

{% endblock content %}