{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% if messages %}
   <div class="container">
       {% for message in  messages %}
         <div class="alert alert-warning alert-dismissible text-center fade show d-flex justify-content-center align-items-center" role="alert">
          <p class="lead h4">{{ message }}</p>
            <button type="button" class="close btn" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" class="h4">&times;</span>
            </button>
          </div>
       {% endfor %}
   </div>
{% endif %}

<div class="container">
 <div class="row">
  <div class="col-sm-6 offset-md-3 mb-5 p-4">
     <h2 class="card-header color-black text-info mb-3 text-center"><strong>LogIn</strong></h2>
    <div class="card p-4">
    
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            {{ form.username|as_crispy_field }}
          </div>
          <div class="mb-3">
            {{ form.password|as_crispy_field }}
          </div>
          <div class="text-end my-4">
            <button type="submit" class="btn text-info  color-black">Log In</button>
          </div>   
        </form>
         <p  class="lead text-center">Don't have an account yet..?
             <a href="{% url 'choose' %}" class="btn text-info "><b>Sign up</b></a>
          </p>  
      </div>
    </div>
   </div>
</div>

{% include "footer.html" %}

{% endblock content %}