{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container color-black">
    <div class="row my-4">
      <div class="col-md-12">
       <div class="form-group">
       <form action="{% url 'searching' %}" method="POST"> 
        {% csrf_token %}
            <input class="form-control my-3" type="search" placeholder="Search" aria-label="Search" name="searching">
            
       </form>
      </div>
      </div>
    </div>
</div>

<div class="offset-3 my-2">
<button class="btn color-black text-info">Categories:</button>
   {% for category in menu_categories %}
    <a class="text-info" href="{% url 'category' category.slug %}">| {{ category.title }} | </a>
{% endfor %}
</div>

<div class="text-center my-4 color-black text-info">
  <h1><em><b>{{ category.title.upper }}</b></h1></em>
</div>


 <div class="container">
<div class="row my-4">

{% for products in category.products.all %}
    {% if products %}
      {% include "list_other_products.html" %}
    {% endif %}

    {% empty %}
    <div calss="p-5">
      <h1 class="text-center">No items in this category</h1>
    </div>
{% endfor %}
 </div>
</div>

{% include 'pagination.html' %}

{% include 'footer.html' %}

{% endblock content %}